* {
	margin: 2px;
	font-family: "Apple SD Gothic Neo";
	font-size: 13px;
}

.wrapper{
	height: 297mm;
	width: 210mm;
	/* to centre page on screen*/
	margin-left: auto;
	margin-right: auto;
}

.content{
	width: 100%;
	height: 100%;
}

.cv-header{
	width: 100%;
	height: 100px;
	text-align: center;
}

.personal-info{
	padding-bottom: 4px;
}

.name{
	font-size: 32px;
	color: #3872b2;
	font-weight: bold;
}

.address{
	color: rgb(111, 111, 111);
}

.links{
	display: grid;
	grid-template-columns: repeat(4, 170px);
	color: rgb(111, 111, 111);
	padding-left: 56px;
}

.section-title{
	color: #3872b2;
	font-weight: bold;
	font-size: 18px;
	border-bottom: 1px solid #3872b2;
}

.section-set{
	margin: 8px 0px;
}

.blue{
	color: #3872b2;
	font-size: 10px !important;
}

.languages{
	margin: 4px 0px;
}

.other-skills{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	width: 874px;
}

.experience-element{
	width: 130px;
}
.experience-element-tangier{
	width: 98px;
}

.even{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: -2px 0px;
}

.batata-experience-width{
	width:150px
}

.batata-experience-location-width{
	width:110px
}

.experience{
	padding-bottom: 8px;
}

.experience-innowaves-title{
	width: 174px;
}

.enhanced-experience-width{
	width: 200px;
}
.enhanced-experience-location-width{
	width: 92px;
}

.education-element-width{
	width:300px
}

.education-period-width{
	width:70px;
}

.ostrava-period-width{
	width: 192px;
}

.ostrava-location-width{
	width: 144px;
}

.ostrava-title-width{
	width: 400px;
}

.spoken-languages{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(2, 1fr);
}

.element{
	background: rgba(56, 114, 179, 0.47);
	width: fit-content;
	padding: 2px 10px;
	border-radius: 8px;
}

.languages-view{
	display: flex
}

.codelogic-period-width{
	width: 144px;
}

.codelogic-location-width, .intershipping-location-width{
	width: 118px;
}

.batata-period-width{
	width: 194px;
}

.batata-location-width, .innowaves-location-width{
	width: 128px;
}

.innowaves-period-width{
	width: 200px;
}

.intershipping-period-width{
	width: 160px;
}

.enhanced-period-width{
	width: 182px;
}

.enhanced-location-width{
	width: 110px;
}

.aui-period-width{
	width: 90px;
}

.aui-location-width{
	width: 110px;
}

.vsb-period-width{
	width: 220px;
}

.vsb-location-width{
	width: 158px;
}

.padding-bottom-4{
	padding-bottom: 4px;
}

.size-14{
	font-size: 14px;
}

.skills-used{
	display: flex;
}
